body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    size: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
}

#HeaderDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.headerButton {
    margin: 5px;
    color: white;
    background-color: blue;
    text-align: center;
    height: 30px;
    width: 80px;
}

h1{
    font-family: 'Montez', cursive;
    margin-top: 0px;
}

h6{
    font-family: 'Ubuntu Mono';
    margin: 0px;
}

.bodyButton{
    margin: 5px;
    color: black;
    background-color: burlywood;
    text-align: center;
    height: 30px;
    width: 110px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 45%;
  }
  
  /* The Close Button */
  .closeSignUp {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeSignUp:hover,
  .closeSignUp:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .closeSignIn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeSignIn:hover,
  .closeSignIn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 2px;
    margin: 0px;
}

.labelText {
    font-size: 15px;
    margin: 2px 0;
}

.submit-btn {
    background-color: green;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    width: 100%;
}